streamlit>=1.44.1
plotly>=6.0.1
pandas>=2.2.3
numpy>=2.2.4
ccxt>=4.4.69
mplfinance==0.12.10b0
ta>=0.11.0
requests>=2.32.3
matplotlib>=3.10.1
MetaTrader5>=5.0.0
websocket-client>=1.2.3
fcsapi-python>=1.0.0
